<script lang="javascript">
    const switcher = document.getElementById("ld-switch");
    switcher.setAttribute("class", "ri-" + icon + "-fill footer-switch-icon");

    switcher.onclick = function (params) {
        var status = getCookie("isDark");
        if (status == "true") {
            DarkReader.disable();
            icon = "moon";
            setCookie("isDark", false, 30);
        } else if (status == "false") {
            DarkReader.enable();
            icon = "sun";
            setCookie("isDark", true, 30);
        }
        switcher.setAttribute("class", "ri-" + icon + "-fill footer-switch-icon");
    }
</script>